
/*SEANS EKLE*/
.page-container{
  border: 1rem solid;
  border-color: #369CC0;
}

.page-header{
}
.prev-page{
  width: 60px;
  padding-top: 114px;
}
.kartela-logo{
  width: 344px;
  height: 189px;
  margin-top: 7px;
}

.add-session-title{
  width: 1fr;
  font-family: 'Roboto';
  text-align: center;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #369CC0; 
}

.session-page-body{
  padding-top: 40px;
}
.session-left{
margin-left: 15px;
align-items: center;
}

.session-right{
  margin-left: 5px;
}

.form-title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  left: 293px;
  width: 1fr;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 5px;
  color: #49444C; 
}

.form-box{
  box-sizing: border-box;
  width: 429px;
  height: 45.42px;
  margin-left: 20px;
  border: 2.5px solid #9C89B8;
  border-radius: 8px;
  padding-top: 2px;
  padding-right: 30px;
}

.calendar-title{
  justify-content: center;
  margin-top: 90px;
  padding-bottom: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: #369CC0; 
}

.calendar-box{
  align-items: center;
  margin-top: 20px;
  margin-left: 100px;
  padding-top: 45px;
  border: 2.5px solid #C4BEBE;
  border-radius: 10px;
}

.calendar-view{
 width: fit-content;
  padding-top: 30px;
  margin-left: 20px;

}

.to-do-containers{
  justify-content: center;
  margin-left: 20px;
}

.to-do-one{
  margin-left: 20px;
  box-sizing: border-box;
  width: 434.32px;
  height: 49.44px;
  left: 1005.43px;
  top: 687.63px;
  background: #F9CCCC;
  border: 2px solid #EDA9A9;
  border-radius: 5px; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px; 
  color: #000000;
  margin-bottom: 10px;
  margin-top: 20px;
}

.to-do-line1{
height: 0px;
border: 1px solid #DE7E7E;
transform: rotate(90deg);
}

.to-do-line2{
height: 0px;
border: 1px solid #9BE4B4;
transform: rotate(90deg);
}

.to-do-two{
margin-left: 20px;
  box-sizing: border-box;
  width: 434.32px;
  height: 49.44px;
  left: 1005.43px;
  top: 687.63px;
  background: #D0F3CF;
  border: 2px solid #99D6AA;
  border-radius: 5px; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px; 
  color: #000000; 
}

.today-text{
  width: 221px;
  height: 23.07px;
  left: 1064.55px;
  top: 816.17px;
  margin-top: 20px;
  margin-left: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5E5757; 
}

.session-submit{
  width: 429px;
  height: 60.56px;
  left: 293px;
  top: 934px;
  margin-bottom: 40px;
  margin-top: 80px;
  margin-left: 20px;
  justify-content: center;
  padding-top: 10px;
  background: #369CC0;
  border-radius: 8px;  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  border: 2px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.sessions-day{
  justify-content: end;
}

/*SEANS EKLE*/



/*ODA EKLE*/
.room-body{
  width: 1fr;
}
.room-name{
  font-family: 'Roboto';
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #49444C;
}

.color-box{ 
  box-sizing: border-box;
  justify-content: center;
  width: 430px;
  height: 45.42px;
  border: 1px solid #9C89B8;
  border-radius: 8px;
}

.color-box::after{ 
  content: "";
  clear: both;
  display: table;
}

.colors{
  max-width: max-content;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
.green-button{
  width: 55px;
  height: 45.42px;;
  background: #CEEDC7;
  border-radius: 8px;
  border: none;
}

.red-button{
  padding-left: 1px;
  padding-right: 1px;
  width: 55px;
  height: 45.42px;
  background: #FF9494;
  border-radius: 8px; 
  border: none;
}

.orange-button{
  width: 55px;
  height: 45.42px;
  background: #FFD4B2;
  border-radius: 8px;
  border: none;
}

.yellow-button{
  width: 55px;
  height: 45.42px;
  background: #FFF6BD;
  border-radius: 8px;
  border: none;
}

.purple-button{
  width: 55px;
  height: 45.42px;
  background: #D7E3FC;
  border-radius: 8px;
  border: none;
}

.pink-button{
  width: 55px;
  height: 45.42px;
  background: #FFC8DD;
  border-radius: 8px;
  border: none;
}

.green-button:hover{
  transition: 0.15s;
  background-color: #88ee85;

}

.red-button:hover{
  transition: 0.15s;
  background: #f94e4e;

}

.orange-button:hover{
  transition: 0.15s; 
  background: #fa994f;

}

.yellow-button:hover{
  transition: 0.15s;
  background: #f7e25f;

}

.purple-button:hover{
  transition: 0.15s;
  background: #91b0f3;

}

.pink-button:hover{
  transition: 0.15s;
  background: #e28aac;

}

.session-submit:hover{
transition: 0.15s;
background-color:#1d7c9f;
}
/*ODA EKLE*/

/*SEANSLARIM*/
.deneme{
  justify-content: center;
}
.session-col{
max-width: fit-content;
margin-top: 5px;
}

.session-one{
  margin-bottom: 15px;
  box-sizing: border-box;
  width: 410px;
  height: 49px;
  border-radius: 12px;
}

.color1{
  background-color: #ffc8dd;
}
.color2{
  background-color: #ceedc7;
}
.color3{
  background-color: #ffd4b2;
}
.color4{
  background-color: #fff6bd;
}

.patient-name{
text-indent: 3px;
}
.check-one{
background-color: transparent;
margin-bottom: 25px;
}

[type=checkbox] {
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: middle;
  -webkit-appearance: none;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background 300ms;
  cursor: pointer;
}


/* Pseudo element for check styling */

[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}


/* Checked */

[type=checkbox]:checked {
  background-color: currentcolor;
}

[type=checkbox]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}


/*SEANSLARIM*/
